<core-toolbar style='display: block;background-color: #888888;'>
	<core-icon-button icon="image:rotate-right" ng-click="rotate('15'); addTime(1);"></core-icon-button>
	<core-icon-button icon="image:rotate-left" ng-click="rotate('-15'); subtractTime(1);"></core-icon-button>
	<paper-button style='background: rgba(191,0,0,0); font-size:.5em;' raised toggle 
	 ng-click="toggleVisionMode()" class="colored">Nightmode</paper-button>
	 <div style='font-size:.5em;'>{{hour}}:00{{timePeriod}} - April 29rd, 2015</div>
</core-toolbar>

<div style='position:absolute;'>

	
	
	<div ng-show="vision == 'daymode'" rotate degrees='angle' class='planisphere'
	style='background-image: url("img/planisphere-BW.png");
			background-size: 443px 440px;'>
	</div>
	
	<div ng-show="vision == 'nightmode'" rotate degrees='angle' class='planisphere'
	style='background-image: url("img/planisphere-RedBlack.png");
			background-size: 443px 440px;'>
	</div>
	
	<div class='oval'>
	<div style='position: absolute; top:1%; left:50%'>E</div>
    <div style='position: absolute; left:1%; top: 50%;'>S</div>
    <div style='position: absolute; right:1%; top: 50%;'>N</div>
    <div style='position: absolute; bottom: 1%; left:50%'>W</div>
	</div>
</div>