<link rel="stylesheet" href="app/app.css">    

<div class = 'lessons'>
	<h1>Moon</h1>
	<ul>
		<li><input type="checkbox" name="phases" checked>Phases</input></li>
		<li><input type="checkbox" name="lunarEclipse" checked>
		<a data-ng-click="goToLesson('lessonTemplate.lunarEclipse')">Lunar Eclipse</a></input></li></ul>
	<h1>Navigation</h1> 
	<ul>
	    <li><input type="checkbox" name="northStar"></input>
		<a data-ng-click="goToLesson('lessonTemplate.polaris')">North Star</a></li>
		<li><input type="checkbox" name="solarPosition">Solar Position</input></li></ul>
	<h1>Earth</h1> 
	<ul>
		<li><input type="checkbox" name="seasons" ></input><label for="seasons">Seasons</label></li>
		<li><input type="checkbox" name="year" >Year</input></li></ul>
	<h1>Light Pollution</h1>
	<ul>
		<li><input type="checkbox" name="contributors">Contributors</input></li></ul>
</div>